.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;

    > .ModalContent {
        width: 600px;
        height: 300px;
        background: white;

        > .ModalQuestion {
            color: black;
            text-align: center;
            height: 150px;
            padding: 75px 0px 0px 0px;
            font-size: x-large;
        }

        > .ModalButtons {
            text-align: center;
            height: 150px;
        }
    }
}
